* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', 'Times New Roman', sans-serif;
  
  }
  
  body {
    margin: 0;
    padding: 0;
    background-color: transparent;
  }

html {
    box-sizing: border-box;
    height: 100vh;
    width: 100vw;
    background-image: url('../public/images/todobg-landscape.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: center;
}

/* .App {
    margin: 5% 25%;    
}

.todos {
    display: flex;
    flex-flow: column;
    flex-wrap: wrap; 
}

.todo {
    display: grid;
    grid-template-areas: "task buttons";
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
    align-items: center;
}

.task {
    grid-area: "task";
    display: flex;
    flex-wrap: wrap;
} */

.App {
    margin: 5% 25%;    
}

.todos {
    list-style: none;
    margin-top: 5rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px; 
    max-height: 30rem;
    overflow-y: auto; 
}

.todo {
    border: 1px solid black;
    border-radius: 5px;
    max-width: 20rem; /* Set a maximum width for each todo */
    display: flex;
    align-items: center;
    justify-content: left;
}

.todo:hover {
    opacity: 0.5;
}


.task {
    margin-left: 1rem;
}

.action-buttons {
    display: grid;
    grid-auto-flow: column;
} 

button:hover {
    color: #E3A6C1;
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin: .5rem;
}

.completed {
    text-decoration: line-through;
    transition: text-decoration 20s linear; /* Adjust the duration to control the speed */

} 

@media screen and (orientation: portrait) {
    html {
        background-image: url('../public/images/todobg-mobile.jpg');
    }

    .App {
        margin: 10rem 5rem;
    }

    h1 {
        font-size: 1rem;
    }
    
    .todos {
    column-count: 1; 
    }
}